<footer class="page-footer grey lighten-1">
  <div class="footer-copyright grey darken-3">
    <div class="foot">
      All articles belong to <a href='https://aux.avclub.com/' target="_blank">The AV Club</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>