<div class="row">
  <div class="col s12 scraperTag">
    <div class="z-depth-3 center-align heading animated rotateIn extra">Extra! <a href="scrape"><img src="assets/images/Scraper.png" id="scraper"></a> Extra!</div>
    <h5 class="center-align byline">Click the Scraper to Scrape some Reading Related Reports!</h5>
    <div class="row">
      <div class="col s4">
        <span id="displayDate"></span>
      </div>
      <div class="col s4 center-align">
        Articles Provided by <a href="https://aux.avclub.com/">The AV CLUB</a>
      </div>
      <div class="col s4 right-align">
        <a href="https://github.com/giampietrojess/Scraping-The-Barrel">GITHUB</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  
  <div class ="col s12 left-align box">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        <p>By: {{this.author}}</p>
        {{!-- goes to article.handlebars --}}
        <a href = "/readArticle/{{this._id}}" class="waves-effect waves-light btn red darken-4" id="btnSignUp">Read Quick Article</a>
      </div>
    {{/each}}
  </div>
</div>