<nav>
<div class="nav-wrapper red darken-4">
    <div class="row">
        <div class="col s4">
            <a href="/articles" class=""><i class="material-icons large">home</i></a>
        </div>
        <div class="col s4">
            <a href="/" class="brand-logo center">BOOK:SCRAPE</a>
        </div>
        <div class="col s4 right-align">
            <a href="/scrape">Scrape</a>
        </div>
    </div>
</div>
</nav>